html,
body,
#root {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  overflow-y: scroll;
}

.nav-wrapper {
  margin: 0 -15px;
  overflow-y: scroll;
}

.qrcode {
  max-width: 200px;
  max-height: 200px;
}

.barcode-nav-item {
  padding: 0 15px;
  cursor: pointer;
}

.barcode-nav-item:hover {
  background-color: #f8f9fa;
}
